<div class="row">	
	<div class="col s1"></div>
	<div class="col s11">
		<div id="workEx" class="row">
			<div class="col s11">
				<h5>Work Experience</h5>
				<hr class="col s11">
				<div class="col s11">	
					<div class="card hoverable" ng-repeat="work in works | orderBy: -endDate">
				        <div class="card-content">
				          <span class="card-title activator grey-text text-darken-4"><i ng-show='editable' class="material-icons right">edit</i></span>
				          <div class="row">
				          	<div class="col s1"></div>
				          	<div class="col s10">
					          	<dl>
						          <dt><p>Organization</p></dt>
						          <dd><h5>{{work.organization}}</h5></dd>
						          <dt><p>Designation</p></dt>
						          <dd><h5>{{work.designation}}</h5></dd>		        		        
						          <dt><p>Duration</p></dt>
						          <dd><h5>{{work.startDate|date}} to {{work.endDate|date}}</h5></dd>
						          <dt><p>Description</p></dt>
						          <dd><h5>{{work.description}}</h5></dd>
						        </dl>
					        </div>
				          </div>
				        </div>
				        <div class="card-reveal">
				          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
				            <div class="row">
				              <div class="col s1"></div>
				              <form class="col s10">
				                <div class="row">
				                  <div class="input-field col s10" >
				                    <input id="Organization" type="text" class="validate">
				                    <label for="Organization" style="font-size:14px">Organization</label>
				                  </div>
				                  <div class="input-field col s10">
				                    <input id="Designation" type="text" class="validate">
				                    <label for="Designation" style="font-size:14px">Designation</label>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="input-field col s5">
				                    <input type="date" class="datepicker">
				                    <label for="Duration" style="font-size:14px">From</label>
				                  </div>
				                  <div class="input-field col s5">
				                    <input type="date" class="datepicker">
				                    <label for="Duration" style="font-size:14px">To</label>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="input-field col s10">
				                    <textarea id="Description" class="materialize-textarea" length="120"></textarea>
				                    <label for="Description" style="font-size:14px">Description</label>
				                  </div>
				                </div>
				                <a class="waves-effect waves-light btn">Save</a>
				              </form>
				            </div>
				        </div>
				    </div>
				    <div class="center-align" ng-show="editable">
				    	<button class="waves-effect waves-dark teal accent-4 btn-large add-button"><i ng-show='editable' class="material-icons right-align">add</i></button>	
				    </div>
			    </div>
		    </div>
		</div>
		<div id="education" class="row">
			<div class="col s11">
				<h5>Education</h5>
				<hr class="col s11">
				<div class="col s11">	
					<div class="card hoverable" ng-repeat="education in educations | orderBy: -endDate">
				        <div class="card-content">
				          <span class="card-title activator grey-text text-darken-4"><i ng-show="editable" class="material-icons right">edit</i></span>
				          <div class="row">
				          	<div class="col s1"></div>
				          	<div class="col s10">
					          	<dl>
						          <dt><p>Institute</p></dt>
						          <dd><h5>{{education.institute}}</h5></dd>
						          <dt><p>Degree</p></dt>
						          <dd><h5>{{education.degree}}</h5></dd>		        		        
						          <dt><p>Duration</p></dt>
						          <dd><h5>{{education.startDate|date}} to {{education.endDate|date}}</p></dd>
						          <dt><p>Description</p></dt>
						          <dd><h5>{{education.description}}</h5></dd>
						        </dl>
					        </div>
				          </div>
				        </div>
				        <div class="card-reveal">
				          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
				            <div class="row">
				              <div class="col s1"></div>
				              <form class="col s10">
				                <div class="row">
				                  <div class="input-field col s10" >
				                    <input id="Institute" type="text" class="validate">
				                    <label for="Institute" style="font-size:14px">Institute</label>
				                  </div>
				                  <div class="input-field col s10">
				                    <input id="Degree" type="text" class="validate">
				                    <label for="Degree" style="font-size:14px">Degree</label>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="input-field col s5">
				                    <input type="date" class="datepicker">
				                    <label for="Duration" style="font-size:14px">From</label>
				                  </div>
				                  <div class="input-field col s5">
				                    <input type="date" class="datepicker">
				                    <label for="Duration" style="font-size:14px">To</label>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="input-field col s10">
				                    <textarea id="Description" class="materialize-textarea" length="120"></textarea>
				                    <label for="Description" style="font-size:14px">Description</label>
				                  </div>
				                </div>
				                <a class="waves-effect waves-light btn">Save</a>
				              </form>
				            </div>
				        </div>
				    </div>
				    <div class="center-align" ng-show="editable">
				    	<button class="waves-effect waves-dark teal accent-4 btn-large add-button"><i ng-show='editable' class="material-icons right-align">add</i></button>	
				    </div>
			    </div>
		    </div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 35 // Creates a dropdown of 35 years to control year
      });
</script>