<div class="row">	
	<div class="col s1"></div>
	<div class="col s11">
		<div id="personal" class="row">
			<div class="col s11">
				<div class="row">
					<div class="col s11">
					    <h5 class="header">Personal Information</h5>
					    <hr class="col s11">
					</div>
					<div class="col s11 card hoverable">
					    <div class="card-content">
				          	<span class="card-title activator grey-text text-darken-4"><i ng-show='editable' class="material-icons right">edit</i></span>
						    <div class="row">
							    <div class="col s5 card-image">
							    	<img src="app/images/userImage.png" height="250px">
							    </div>
							    <div class="col s6 card-stacked">
							        <div class="card-content">							     
								        <h4>{{userDetails.firstName}} {{userDetails.lastName}}</h4>	
								        <dl>
								          <dt><p>Current organization</p></dt>
								          <dd><h5>{{userDetails.currentOrganization}}</h5></dd>
								          <dt><p>Designation</p></dt>
								          <dd><h5>{{userDetails.currentDesignation}}</h5></dd>
								        </dl>
								        <p>{{userDetails.email}}</p>
								    </div>
							    </div>
						    </div>
					    </div>
					    <div class="card-reveal">
				          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
				            <div class="row">
				              <div class="col s1"></div>
				              <form class="col s10" ng-submit="updatePersonal()">
				                <div class="row">
				                  <div class="input-field col s5" >
				                    <input id="firstName" ng-model="personal.firstName" type="text" class="validate">
				                    <label for="firstName" style="font-size:14px">First Name</label>
				                  </div>
				                  <div class="input-field col s5">
				                    <input id="lastName" ng-model="personal.lastName" type="text" class="validate">
				                    <label for="lastName" style="font-size:14px">Last Name</label>
				                  </div>
				                </div>				                
				                <div class="row">
				                  <div class="input-field col s10" >
				                    <input id="currentOrganization" ng-model="personal.currentOrganization" type="text" class="validate">
				                    <label for="currentOrganization" style="font-size:14px">Current Organization</label>
				                  </div>
				                  <div class="input-field col s10" >
				                    <input id="currentDesignation" ng-model="personal.currentDesignation" type="text" class="validate">
				                    <label for="currentDesignation" style="font-size:14px">Current Designation</label>
				                  </div>
				                  <div class="input-field col s10" >
				                    <input id="email" type="email" ng-model="personal.email" class="validate">
				                    <label for="email" style="font-size:14px">Email</label>
				                  </div>
				                </div>
				                <button type="submit" class="waves-effect waves-light teal accent-4 btn">Save</button>
				              </form>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		<div id="workEx" class="row">
			<div class="col s11">
				<h5>Work Experience</h5>
				<hr class="col s11">
				<div class="col s11">	
					<div class="card hoverable" ng-repeat="work in works | orderBy: -endDate">
				        <div class="card-content">
				          <span class="card-title activator grey-text text-darken-4"><i ng-show='editable' class="material-icons right">edit</i></span>
				          <div class="row">
				          	<div class="col s1"></div>
				          	<div class="col s10">
					          	<dl>
						          <dt><p>Organization</p></dt>
						          <dd><h5>{{work.organization}}</h5></dd>
						          <dt><p>Designation</p></dt>
						          <dd><h5>{{work.designation}}</h5></dd>		        		        
						          <dt><p>Duration</p></dt>
						          <dd><h5>{{work.startDate|date}} to {{work.endDate|date}}</h5></dd>
						          <dt><p>Description</p></dt>
						          <dd><h5>{{work.description}}</h5></dd>
						        </dl>
					        </div>
				          </div>
				        </div>
				        <div class="card-reveal">
				          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
				            <div class="row">
				              <div class="col s1"></div>
				              <form class="col s10" ng-submit="updateWork('{{work.workId}}')">
				                <div class="row">
				                  <div class="input-field col s10" >
				                    <input id="Organization" ng-model="editedWork.organization" type="text" class="validate">
				                    <label for="Organization" style="font-size:14px">Organization</label>
				                  </div>
				                  <div class="input-field col s10">
				                    <input id="Designation" ng-model="editedWork.designation" type="text" class="validate">
				                    <label for="Designation" style="font-size:14px">Designation</label>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="input-field col s5">
				                    <input type="date" ng-model="editedWork.startDate" class="datepicker">
				                    <label for="Duration" style="font-size:14px">From</label>
				                  </div>
				                  <div class="input-field col s5">
				                    <input type="date" ng-model="editedWork.endDate" class="datepicker">
				                    <label for="Duration" style="font-size:14px">To</label>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="input-field col s10">
				                    <textarea id="Description" ng-model="editedWork.description" class="materialize-textarea" length="120"></textarea>
				                    <label for="Description" style="font-size:14px">Description</label>
				                  </div>
				                </div>
				                <button type="submit" class="waves-effect waves-light teal accent-4 btn">Save</button>
				              </form>
				            </div>
				        </div>
				    </div>
				    
			    	<div class="card" ng-show="addingWork">
			    		<div class="card-content">
			    			<div class="row">
			    				<div class="col s1"></div>
				    			<form class="col s10" ng-submit="addWork()">
					                <div class="row">
					                  <div class="input-field col s10" >
					                    <input id="Organization" ng-model="newWork.organization" type="text" class="validate">
					                    <label for="Organization" style="font-size:14px">Organization</label>
					                  </div>
					                  <div class="input-field col s10">
					                    <input id="Designation" ng-model="newWork.designation" type="text" class="validate">
					                    <label for="Designation" style="font-size:14px">Designation</label>
					                  </div>
					                </div>
					                <div class="row">
					                  <div class="input-field col s5">
					                    <input type="date" ng-model="newWork.startDate" class="datepicker">
					                    <label for="Duration" style="font-size:14px">From</label>
					                  </div>
					                  <div class="input-field col s5">
					                    <input type="date" ng-model="newWork.endDate" class="datepicker">
					                    <label for="Duration" style="font-size:14px">To</label>
					                  </div>
					                </div>
					                <div class="row">
					                  <div class="input-field col s10">
					                    <textarea id="Description" ng-model="newWork.description" class="materialize-textarea" length="120"></textarea>
					                    <label for="Description" style="font-size:14px">Description</label>
					                  </div>
					                </div>
					                <button type="submit" class="waves-effect waves-light teal accent-4 btn">Add</button>
					                <button type="button" class="waves-effect waves-light red accent-4 btn" ng-click="cancelAdding()">Cancel</button>
					            </form>	
			    			</div>
			    			
			    		</div>
			    	</div>
				    <div class="center-align" ng-show="editable">
				    	<button class="waves-effect waves-dark teal accent-4 btn-large add-button" ng-click="enableAddingWork()" ng-hide="addingWork"><i ng-show='editable' class="material-icons right-align">add</i></button>
				    </div>
			    </div>
		    </div>
		</div>
		<div id="education" class="row">
			<div class="col s11">
				<h5>Education</h5>
				<hr class="col s11">
				<div class="col s11">	
					<div class="card hoverable" ng-repeat="education in educations | orderBy: -endDate">
				        <div class="card-content">
				          <span class="card-title activator grey-text text-darken-4"><i ng-show="editable" class="material-icons right">edit</i></span>
				          <div class="row">
				          	<div class="col s1"></div>
				          	<div class="col s10">
					          	<dl>
						          <dt><p>Institute</p></dt>
						          <dd><h5>{{education.institute}}</h5></dd>
						          <dt><p>Degree</p></dt>
						          <dd><h5>{{education.degree}}</h5></dd>		        		        
						          <dt><p>Duration</p></dt>
						          <dd><h5>{{education.startDate|date}} to {{education.endDate|date}}</p></dd>
						          <dt><p>Description</p></dt>
						          <dd><h5>{{education.description}}</h5></dd>
						        </dl>
					        </div>
				          </div>
				        </div>
				        <div class="card-reveal">
				          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
				            <div class="row">
				              <div class="col s1"></div>
				              <form class="col s10">
				                <div class="row">
				                  <div class="input-field col s10" >
				                    <input id="Institute" type="text" class="validate">
				                    <label for="Institute" style="font-size:14px">Institute</label>
				                  </div>
				                  <div class="input-field col s10">
				                    <input id="Degree" type="text" class="validate">
				                    <label for="Degree" style="font-size:14px">Degree</label>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="input-field col s5">
				                    <input type="date" class="datepicker">
				                    <label for="Duration" style="font-size:14px">From</label>
				                  </div>
				                  <div class="input-field col s5">
				                    <input type="date" class="datepicker">
				                    <label for="Duration" style="font-size:14px">To</label>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="input-field col s10">
				                    <textarea id="Description" class="materialize-textarea" length="120"></textarea>
				                    <label for="Description" style="font-size:14px">Description</label>
				                  </div>
				                </div>
				                <button type="submit" class="waves-effect waves-light teal accent-4 btn">Save</button>
				              </form>
				            </div>
				        </div>
				    </div>
				    
				    <div class="card" ng-show="addingEducation">
				    	<div class="card-content">
				    		<div class="row">
				              <div class="col s1"></div>
				              <form class="col s10" ng-submit="addEducation()">
				                <div class="row">
				                  <div class="input-field col s10" >
				                    <input id="Institute" ng-model="newEducation.institute" type="text" class="validate">
				                    <label for="Institute" style="font-size:14px">Institute</label>
				                  </div>
				                  <div class="input-field col s10">
				                    <input id="Degree" type="text" ng-model="newEducation.degree" class="validate">
				                    <label for="Degree" style="font-size:14px">Degree</label>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="input-field col s5">
				                    <input type="date" ng-model="newEducation.startDate" class="datepicker">
				                    <label for="Duration" style="font-size:14px">From</label>
				                  </div>
				                  <div class="input-field col s5">
				                    <input type="date" ng-model="newEducation.endDate" class="datepicker">
				                    <label for="Duration" style="font-size:14px">To</label>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="input-field col s10">
				                    <textarea id="Description" ng-model="newEducation.description" class="materialize-textarea" length="120"></textarea>
				                    <label for="Description" style="font-size:14px">Description</label>
				                  </div>
				                </div>
				                <button type="submit" class="waves-effect waves-light teal accent-4 btn">Add</button>
				                <button type="button" class="waves-effect waves-light red accent-4 btn" ng-click="cancelAdding()">Cancel</button>
				              </form>
				            </div>
				    	</div>
				    </div>
				    <div class="center-align" ng-show="editable">
				    	<button class="waves-effect waves-dark teal accent-4 btn-large add-button" ng-click="enableAddingEducation()" ng-hide="addingEducation"><i ng-show='editable' class="material-icons right-align">add</i></button>	
				    </div>
			    </div>
		    </div>
		</div>		
	</div>
</div>
<script type="text/javascript">
	$('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 35 // Creates a dropdown of 35 years to control year
      });
</script>